.column {
	width: 340px;
	background: rgb(230, 231, 236);
	margin: 10px;
	padding: 10px;
	border-radius: 5px;
}

.column__title {
	text-align: center;
	font-size: 20px;
	margin: 0;
}

.column__item {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	background-color: #fff;
	padding: 5px;
	border-radius: 5px;
	margin: 5px 0;
	cursor: grab;
}

.column__item__text {
	margin: 0;
	padding-right: 5px;
}

.column__item__btn__del {
	display: flex;
	justify-content: center;
	height: 20px;
	width: 20px;
}

.column__item__btn__add {
	display: block;
	margin: 0 auto;
}